* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.gradient_text{
  background: var(--gradient-text);
  background-clip: text;
  --webkit-background-clop: text;
  color: transparent;
}